#intro {
    alignment: center;
    align: center;
    text-align: center;
    vertical-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 600px;
}