$border-radius: 4px;
$primary: #1984c8;
$secondary: #f3f3f4;
$info: #007bc3;
$success: #147924;
$warning: #ff9800;
$error: #d92800;
$body-text: #515967;
$body-bg: #ffffff;
$headings-text: #515967;
$subtle-text: #666666;
$disabled-text: #8f8f8f;
$component-text: #010e40;
$component-bg: #c8deec;
$base-text: #010e40;
$base-bg: #f3f3f4;
$hovered-text: #263248;
$hovered-bg: #dbdee5;
$selected-text: #ffffff;
$selected-bg: #1984c8;
$kendo-button-text: #010e40;
$kendo-button-bg: #c8deec;
$link-text: #1984c8;
$link-hover-text: #156fa8;
$series-a: #007bc3;
$series-b: #edce9e;
$series-c: #ffae00;
$series-d: #c8deec;
$series-e: #73a7e7;
$series-f: #335882;

@import "~@progress/kendo-theme-classic/dist/all.scss";