$border-radius: 0.25rem;
$primary: #1984c8;
$secondary: #f3f3f4;
$info: #007bc3;
$success: #7fbf4b;
$warning: #ffb752;
$error: #e35d59;
$body-color: #515967;
$body-bg: #ffffff;
$headings-text: #292b2c;
$subtle-text: #545556;
$disabled-text: #7f8080;
$component-text: #010e40;
$component-bg: #c8deec;
$base-text: #010e40;
$base-bg: #f3f3f4;
$hovered-text: #263248;
$hovered-bg: #dbdee5;
$selected-text: #ffffff;
$selected-bg: #1984c8;
$kendo-button-text: #010e40;
$kendo-button-bg: #c8deec;
$link-text: #1984c8;
$link-hover-text: #156fa8;
$series-a: #007bc3;
$series-b: #edce9e;
$series-c: #ffae00;
$series-d: #c8deec;
$series-e: #73a7e7;
$series-f: #335882;

@import "~@progress/kendo-theme-bootstrap/dist/all.scss";