{% load static %}
<head>
    <head>
        <link rel="stylesheet" href="{% static 'styles/style3.css' %}"/>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/kendo.all.min.js' %}"></script>
    </head>
</head>
<div hidden="true" id="username">{{ username }}</div>

<div id="content-main">

    <form id="change-form">
    </form>
    {% csrf_token %}
    <script>
        $(document).ready(function () {
            $('#change-form').kendoForm({
        orientation: "vertical",
        items: [{
            type: "group",
            label: "Change Your Password",
            items: [
                {
                    field: "old_password", label: "Old Password", validation: {required: true},
                    editor: function (container, options) {
                        container.append($("<input type='password' class='k-textbox k-valid' id='old_password' title='Old Password' required='required' autocomplete='off' aria-labelledby='old-password-form-label' data-bind='value:old_password'>"));
                    }
                },
                {
                    field: "new_password", label: "New Password", validation: {required: true},
                    editor: function (container, options) {
                        container.append($("<input type='password' class='k-textbox k-valid' id='new_password' title='New Password' required='required' autocomplete='off' aria-labelledby='new-password-form-label' data-bind='value:new_password'>"));
                    }
                },
            ]
        }],
        validateField: function (e) {
            console.log(e);
        },
        submit: function (e) {
            e.preventDefault();
            var $old = $('#old_password');
            var $new = $('#new_password');
            var vals = {
                'old': $old.val(),
                'new': $new.val(),
                'username': $('#username').val()
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "/change_password/",
                data: vals,
                headers: {'X-CSRFToken': csrftoken},
                contentType: "application/x-www-form-urlencoded",
                success: function (response) {
                    if (response == 'duplicate_password') {
                        alert("The newly entered password matches the original password. Please enter a new, unique password.");
                    } else if (response == 'invalid_password') {
                        alert("Original password entered doesn't match the current account password. Did you enter the correct old password?");
                    } else if (response == 'first_time') {
                        alert("Your new password is set and your email has been validated, so your account is now pending admin approval. " +
                                "An email will be sent once an administrator has approved or denied your account for further access.");
                    }
                    else {
                        alert("Password updated successfully! Please log in with your new password now!");
                        location.reload();
                    }
                }, error: function (response) {
                    alert("oops! Something went wrong, please try again later!")
                }
            });
            return false;
        },
        clear: function (ev) {
        }
    });
        });


    </script>
</div>