<!DOCTYPE html>
{% load static %}
<head>
    <head>
    <!--base href="http://demos.telerik.com/kendo-ui/grid/remote-data-binding"-->
    <title></title>
    <link rel="stylesheet" href="{% static 'styles/style3.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style3.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/todo.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/kendo.all.min.js' %}"></script>

    </head>
</head>
<body class="k-content">
    <div>
        <header id="header">ADNet   </header>

        {% if user.is_authenticated %}
            <header id="account">Welcome {{ username }}</header>
            <header id="account"><button id="account_logout" class="k-button-primary">Log Out</button></header>
        {% else %}
            <header id="account" ><button id="account_signin" class="k-button-primary">Sign In</button></header>
            <header id="account2" ><button id="account_creation" class="k-button">Create Account</button></header>
        {% endif %}
    </div>
    <div id="tabstrip">
        <ul>
            <li>
                Home
            </li>
            <li>
                Glossary
            </li>
            <li>
                Gene Search
            </li>
            <li>
                SNP Search
            </li>
            {% if perms.nonprofit.can_admin %}
            <li id="all_events">
                Build Neural Net
            </li>
            <li id="all_volunteers">
                Run Information
            </li>
            {% endif %}
        </ul>
    </div>
    <div id="login_window" style="display:none"></div>
    <div id="account_window" style="display:none"></div>
    </div>

</body>
{% load static %}
{% csrf_token %}
<script src="{% static 'app.js' %}"></script>