{% load static %}
<head>
    <head>
        <link rel="stylesheet" href="{% static 'styles/style3.css' %}"/>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/kendo.all.min.js' %}"></script>

    </head>
</head>
<body>
<div class="k-content">
    <div>
        <h4 class="k-h4">General Information</h4>
        <table id="snptable">
            <tr style="background: rgba(147,211,255,0.14);">
                <th>Region</th>
                <td id="region">{{ content.region }}</td>
                <th>Location</th>
                <td id="location">{{ content.location }}</td>
            </tr>
            <tr style="background: rgba(221,240,255,0.14);">
                <th>Functional Class</th>
                <td id="functional_class">{{ content.functional_class }}</td>
                <th>Intergenic</th>
                <td id="is_intergenic">{{ content.is_intergenic }}</td>
            </tr>
            <tr style="background: rgba(147,211,255,0.14);">
                <th colspan=1>Risk Level</th>
                <td colspan=3 id="risk_level">{{ content.risk_level }}</td>
            </tr>
            <tr style="background: rgba(221,240,255,0.14);">
                <th>Minor Allele</th>
                <td id="minor_allele">{{ content.minor_allele }}</td>
                <th>Minor Allele Frequency</th>
                <td id="maf">{{ content.MAF }}</td>
            </tr>
            <tr style="background: rgba(147,211,255,0.14);">
                <th colspan=1>Associated Studies</th>
                <td colspan=3 id="study"><a href="{{ content.studies }}">GWAS Link</a></td>

            </tr>
            <tr style="background: rgba(221,240,255,0.14);">
                <th colspan=1>P-value</th>
                <td colspan=3 id="p-value">{{ content.pvalue }}</td>
            </tr>
            <tr style="background: rgba(147,211,255,0.14);">
                <th colspan=1>Allele Values</th>
                <td colspan=3 id="values">{{ content.values }}</td>
            </tr>
            <tr style="background: rgba(221,240,255,0.14);">
                <th colspan=1>Gene(s)</th>
                <td colspan=3 id="genes">{{ content.genes }}</td>
            </tr>
        </table>
    </div>
    <div>
        <div id="allele_grid"></div>
        <div id="hidden", style="visibility: hidden"></div>
    </div>
    <br>
    {% if perms.webapp.can_create_jobs %}
        <div>
            <h2 id="whatever" style="text-align:center">Add SNP to job configurations*</h2>
            <p style="text-align:center">*job configurations that are full, or configurations that already have the
                current SNP in them will NOT be displayed in the grid below</p>
            <div id="addsnptojobgrid"></div>
        </div>
    {% endif %}
</div>
{{ content |json_script:"hello-data"}}

{% load static %}

<script type="text/javascript">

    function make_grid() {
        var strongest_alleles = JSON.parse(document.getElementById('hello-data').textContent)['strongest_risk_alleles'];
        var localDataSource = new kendo.data.DataSource({data: strongest_alleles});
        $("#allele_grid").kendoGrid({
            dataSource: localDataSource,
            filterable: true,
            sortable: true,
            columns: [
                {field: "risk_allele_name", title: "Risk Allele"},
                {field: "risk_allele_value", title: "Allele Value"},
                {field: "risk_freq", title: "Frequency"}
            ]
        });
    }

    $(document).ready(function () {
        make_grid();
        var snpId = JSON.parse(document.getElementById('hello-data').textContent)['_id']
        $("#addsnptojobgrid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/JobConfigurations/GetAddJobs/",
                        dataType: "json",
                        data: {'item': snpId},
                        type: "GET"
                    }
                },
                schema: {
                    model: {
                        id: "_id",
                        fields: {
                            one: {type: "string"},
                            two: {type: "string"},
                            three: {type: "string"},
                            four: {type: "string"},
                            five: {type: "string"}
                        }
                    }
                },
                pageSize: 20,
                resizable: true,
            },
            resizable: true,
            pageable: true,
            columns: [
                {field: "_id", title: "Name", width: "150px"},
                {field: "one", title: "1", width: "120px", sortable: false},
                {field: "two", title: "2", width: "120px", sortable: false},
                {field: "three", title: "3", width: "120px", sortable: false},
                {field: "four", title: "4", width: "120px", sortable: false},
                {field: "five", title: "5", width: "120px", sortable: false},
                {
                    command: {
                        text: "+",
                        click: function (e) {
                            e.preventDefault();
                            var id = e.currentTarget.closest("tr").cells[0].textContent;
                            $.ajax({
                                type: 'POST',
                                url: '/JobConfigurations/AddToConfig/',
                                headers: {'X-CSRFToken': csrftoken},
                                dataType: 'json',
                                data: {'name': id, 'item': snpId},
                                success: function (result) {
                                    $("#addsnptojobgrid").data("kendoGrid").dataSource.read();
                                    $("#addsnptojobgrid").data("kendoGrid").refresh();
                                    alert("SNP Added Successfully")
                                },
                                error: function (result) {
                                    $("#addsnptojobgrid").data("kendoGrid").dataSource.read();
                                    $("#addsnptojobgrid").data("kendoGrid").refresh();
                                    alert("Error adding SNP, please contact system administrator.")
                                }
                            });

                        },
                        name: "view-snp"
                    }, title: " ", width: "70px"
                }
            ]
        });
    });
</script>

{% csrf_token %}
</body>
<style>
    #snptable {
        width: 100%;
        display: table;
        border: none;
        border-collapse: collapse;
        font-size: 15px;
        table-layout: fixed;
        text-align: left;
    }


    th {
        text-align: left;
        padding: 5px;
        border: none;
        max-height: 30px;
    }

    td {
        vertical-align: middle;
        padding: 5px;
        height: 25px;
        border: none;
        display: table-cell;
    }

    .k-panelbar {
        font-weight: normal; /* Make the main title text bold */
    }

    .k-panelbar .k-link {
        font-size: 20px; /* Set the font size for main title text */
    }
</style>
